@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.navbar{
    position: relative;
}
.website_header{
    width: auto;
    background-color: rgb(240, 240, 240);
    font-family: 'DM Sans';

}
.website_header ul{
    float: right;
    margin-right:20px;
}
.website_header ul li{
    list-style: none;
    display:inline-block;
    margin: 5px;
}
.website_header a{
    display:flex;
    color:black;
    text-decoration: none;
    font-size:1rem;
}
.website_header .travel_guide{
    color:white;
    padding: 5px;
    border-radius: 7px;
    background: #CC0000 ;

}
.website_header .travel_guide:hover{
    text-decoration-line: underline;
    color: black;
    background: #00CCCC ;
}
.website_header .travel_guide:active{
    padding: 4.5px;
}
/*food_drinks button*/
.website_header .food_drinks{
    padding: 5px;
    border-radius: 7px;
    background: #ffffff ;

}
.website_header .food_drinks:hover{
    text-decoration-line: underline;
    color: rgb(255, 255, 255);
    background: #000000 ;
}
.website_header .food_drinks:active{
    padding: 4.5px;
}
/*festival button*/
.website_header .traditional{
    color:white;
    padding: 5px;
    border-radius: 7px;
    background: #0032A0 ;

}
.website_header .traditional:hover{
    text-decoration-line: underline;
    color: #000000;
    background: #A06E00 ;
}
.website_header .traditional:active{
    padding: 4.5px;
}
/*contact_us button*/
.website_header .contact_us{
    color:black;
    padding: 5px;
    border-radius: 7px;
    background: #FFD100 ;

}
.website_header .contact_us:hover{
    text-decoration-line: underline;
    color: #ffffff;
    background: #002EFF ;
}
.website_header .contact_us:active{
    padding: 4.5px;
}
.website_header header{
    position: relative;
    scale: 0.9;

}
.website_header .navbar{
    padding: auto;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}
.website_header .navbar .logo {
    width: 140px;
    cursor: pointer;
    background-color: transparent;
}
.website_header .logo{
    background-color: transparent;
}
.logo:hover{
    scale: 1.02;
    transition: 0.3s;
}

.website_header .signIn{
    background-color: black ;
    color: white;
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size:  0.8rem;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.website_header .signIn:hover{
    scale: 1.05;
    color: white;
    font-weight: bold;
}
.website_header .signIn:active{
    scale: 0.98;
}


@media(max-width: 850px){

    .logo{
        scale:0.8;
    }

    .navbar a{
        font-size: 10px;
    }
    .signIn{
        scale:0.9;
    }
}
@media(max-width: 480px){
    
    .logo{
        scale:0.8;
    }

    .navbar a{
        font-size: 10px;
    }
    .signIn{
        scale:0.5;
    }
}
