/* Color Variables */
:root {
    --primary-color: #0032A0; /* Dark Blue */
    --secondary-color: #00CCCC; /* Light Blue */
    --background-color: #d0e3f4; /* Background color */
    --light-background-color: #f9f9f9; /* Light Gray Background */
    --light-gray: #E0E0E0; /* Light Gray */
    --accent-color: #FFD100; /* Accent Yellow */
    --text-color: #333333; /* Dark Gray Text */
    --white-color: #FFFFFF; /* White */
    --hover-bg-color: #E8F0FE; /* Light Blue Background on Hover */
    --hover-shadow-color: rgba(0, 0, 0, 0.2); /* Hover Shadow */
  }